
body {
  font-family: 'Roboto', sans-serif;
  background: #2BC0E4;
  background: -webkit-linear-gradient(to left, #2BC0E4, #EAECC6);
  background: linear-gradient(to left, #2BC0E4, #EAECC6);
  margin: 0; /* Remove default margin */
  height: 100vh; /* Ensure full height */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

#title {
  font-size: larger;
  text-align: center;
  font-weight: bold;
}

header {
  font-style: oblique;
  text-align: center;
}

.todo-item {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: x-large;
  padding-right: 10%;
  color: white;
}

h3 {
  text-align: center;
}

#parent {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 20px; /* Add spacing from the top */
}